
body {
   background-color:rgb(105, 149, 231) ;
}

header {
    background-color: rgb(200, 200, 237);
    height: 50px;
    width: 100%;
}

h1 {
    font-size: 40px;
    border: yellow solid 2px;
    display: inline-block;
}

nav {
   float: right;
   border: green 2px solid;
}

nav ul{
    padding: 5px;
  
}

nav li {
    margin-left: 15px;
   
}

nav li a:visited{
    color: inherit;
}


#banner {
    height:200px;
    width: 100%;
    background: url("../images/cycling-dark-bicycle.jpg");
    background-size: fixed;
    text-align: center;
}

#me-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.card {
    position: relative;
    margin: 50px 100px;
    display: flex
}

.card-title{
    margin-right: 50px;
    border-right: solid red 2px;
}

h2 {
    width: 100px;
}

p {
    line-height: 20px;
    margin: 5px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    margin: 10px;
}

ul {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

footer {
    text-align: center;
    background-color: rgb(200, 200, 237);
}

/* @media screen and (max-width: 1000px) {
    add code here for iPad view
    #me-image {
        height: 250px;
        width: 250px;
    }
    
    .card {
        margin: 50px;
    }
} */

/* 
@media screen and (max-width: 600px) {
    add code here for phone view
    #me-image {
        height: 150px;
        width: 150px;
    }

    .card {
        margin: 25px;
    }
} */

